@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('D2Coding Bold'),
    url('fonts/d2coding-bold-full.woff2') format('woff2'),
    url('fonts/d2coding-bold-full.woff') format('woff'),
    url('fonts/d2coding-bold-full.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('D2Coding Regular'),
    url('fonts/d2coding-full.woff2') format('woff2'),
    url('fonts/d2coding-full.woff') format('woff'),
    url('fonts/d2coding-full.ttf') format('truetype');
}
