@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('D2Coding Bold'),
    url('dist/d2coding-subset-bold.woff2') format('woff2'),
    url('dist/d2coding-subset-bold.woff') format('woff'),
    url('dist/d2coding-subset-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('D2Coding Regular'),
    url('dist/d2coding-subset.woff2') format('woff2'),
    url('dist/d2coding-subset.woff') format('woff'),
    url('dist/d2coding-subset.ttf') format('truetype');
}
